{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Django Tornado Demo</title>
    <style type="text/css">
        body {
            min-width: 500px;
        }
    </style>
    <script src="{% static 'demo/js/jquery.min.js' %}"></script>
    <script src="{% static 'demo/js/csrf_protection.js'%}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
        function log(m) {
            d = document.getElementById("log");
            d.innerHTML = m + "<br/>" + d.innerHTML;
        }

        $(document).ready(function() {
            var ws;

            $("#connect").click(function(event) {
                event.preventDefault();

                var host = $("#host").val();
                var port = $("#port").val();
                var uri = $("#uri").val();

                ws = new WebSocket("ws://" + host + ":" + port + uri);

                ws.onopen = function(event) {
                    log("Recv: Connection opened");
                };

                ws.onmessage = function(event) {
                    log("Recv: " + event.data);
                };

                ws.onclose = function(event) {
                    log("Recv: Connection closed");
                };
            });

            $("#disconnect").click(function(event) {
                ws.close();
            });

            $("#start").click(function(event) {
                var msg = JSON.stringify({action: 'start', user: '{{ user.username }}'});
                log("Sent: " + msg)
                ws.send(msg);
            });

            $("#stop").click(function(event) {
                var msg = JSON.stringify({action: 'stop', user: '{{ user.username }}'});
                log("Sent: " + msg)
                ws.send(msg);
            });

            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            $('#container').highcharts({
                chart: {
                    type: 'spline',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function () {

                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function () {
                                var x = (new Date()).getTime(), // current time
                                    y = Math.random();
                                series.addPoint([x, y], true, true);
                            }, 1000);
                        }
                    }
                },
                title: {
                    text: 'Live random data'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: 'Value'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                            Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'Random data',
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                            time = (new Date()).getTime(),
                            i;

                        for (i = -19; i <= 0; i += 1) {
                            data.push({
                                x: time + i * 1000,
                                y: Math.random()
                            });
                        }
                        return data;
                    }())
                }]
            });
        });
    </script>
</head>
<body>
    Welcome! <strong>{{ user.username }}</strong>
    <br/>
    <br/>
    <div>
        <label for="host">Host:</label>
        <input type="text" id="host" value="localhost"/>

        <label for="port">Port:</label>
        <input type="text" id="port" value="8080"/>

        <label for="uri">URI:</label>
        <input type="text" id="uri" value="/ws"/>

        <input type="submit" id="connect" value="Connect"/>
        {% csrf_token %}
        <input type="submit" id="disconnect" value="Disconnect"/>
        {% csrf_token %}
        <input type="submit" id="start" value="Start"/>
        {% csrf_token %}
        <input type="submit" id="stop" value="Stop"/>
        {% csrf_token %}
    </div>
    <br/>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <br/>
    <div id="log"></div>
</body>
</html>